node_modules

# Output
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Local
.vscode
.idea
__pycache__
.pytest_cache
desktop.ini
/run.bat

# Model weights
src/lib/server/Mistral/mistral/*
